<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Words and Coffee</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/pygments.css" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
  <link rel="alternate" type="application/atom+xml" title="Words and Coffee" href="http://feeds.feedburner.com/wordsandcoffeejohn"/>
  
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37820407-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
  <div id="main">
	<div id="banner">
		<a href="/"><img class = "centered" src="/img/wordsandcoffeetext.png" width="600" height="150"/></a>
	</div>
    <nav role="navigation">
		<a href="/"><img class="centered" src="/img/sidecoffee.png"></a>
		<a href="/">Home</a><br>
		<a href="/about.html">About</a><br>
		<a href="/archive.html">Archive</a><br>
		<a href="https://plus.google.com/104570711580136846518/posts" target="_blank">Google+</a><br>
		<a href="http://feeds.feedburner.com/wordsandcoffeejohn">Subscribe</a>
    </nav>
    {{ content }}
    <footer>
      <p>&copy; 2013 | All Rights Reserved. </p>
    </footer>
  </div>
</body>
</html>